$mw-document: 800px;

$bg-principal: #fafafa;
$bg-secondary: #ced6e4;

$color-principal: #000;
$color-secondary: #0a0a0a;

$font-principal:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

$size-principal: 1rem;
